<a href="https://colab.research.google.com/github/edilsonclodoalves/AnimaCursoExtensaoPython2022-2/blob/main/Primeiro_Exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro exemplo de manipulação de dados usando Python Pandas

Autor: Henrique Poyatos e galera

Data: 6 de fevereiro de 2023

In [ ]:
# Para instalar, use esse comando!
!pip install pandas

In [ ]:
#Importando biblioteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data/ca202102_20230207120945.xlsx")

Aula dia 07/02/2023

In [ ]:
print(combustiveis_df)

In [ ]:
display(combustiveis_df)

In [ ]:
#Exibe as primeiras 5 linhas
display(combustiveis_df.head())

In [ ]:
#Quero, na verdade, exibir as primeiras 15 linhas
display(combustiveis_df.head(15))

In [ ]:
# Comandos Dataframe.shape e Dataframe.describe()
print(combustiveis_df.shape)
#Mostra o número de linhas e colunas (linhas, colunas)

#só as linhas
print(combustiveis_df.shape[0])

In [ ]:
print(combustiveis_df.describe())

In [ ]:
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None